<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>OnlyTexts</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'onlytexts/css/index.css' %}" />
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{% static 'onlytexts/img/Logo.png' %}">
        </div>
        <ul class="navbar-nav">
            <li class="active"><a href="#">FEED</a></li>
            <li><a href="#">HOT</a></li>
            <li><a href="#">NEW</a></li>
        </ul>
        <div class="more-link">
            <span>MORE</span>
        </div>
    </div>
</body>
</html>