<html>
    <head>
        <title>SignUp Page</title>
    </head>
    <body>
        <form action="{{ action_uri }}" enctype="multipart/form-data" method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>