body * {
  position: relative; }

.navbar {
  position: fixed;
  width: 6%;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center; }
  .navbar .logo {
    padding: 2px;
    box-sizing: border-box;
    width: 100%;
    height: auto; }
    .navbar .logo img {
      width: 100%;
      height: auto; }
  .navbar .navbar-nav {
    list-style-type: none;
    padding: 0;
    margin-top: 120%; }
    .navbar .navbar-nav li {
      font-style: bold;
      margin: 100% 0;
      color: rgba(103, 140, 200, 0.5); }
      .navbar .navbar-nav li a {
        color: inherit;
        text-decoration: none; }
      .navbar .navbar-nav li.active {
        color: #678CC8; }
  .navbar .more-link {
    color: #FB849B;
    padding-top: 100%; }
    .navbar .more-link span:after {
      content: "";
      display: block;
      position: absolute;
      top: 35%;
      right: -25%;
      width: 0;
      height: 0;
      border: 5px solid #FB849B;
      border-color: #FB849B white white white; }

/*# sourceMappingURL=index.css.map */
