$pink-color: #FB849B;
$blue-color: #678CC8;

body * {
    position: relative;
}

.navbar {
    position: fixed;
    width: 6%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 1px 0px 5px transparentize(black, 0.8);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;

    .logo {
        padding: 2px;
        box-sizing: border-box;
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .navbar-nav {
        list-style-type: none;
        padding: 0;
        margin-top: 120%;

        $link-active-color: $blue-color;
        $link-color: transparentize($link-active-color, 0.5);

        li {
            font-style: bold;
            margin: 100% 0;
            color: $link-color;

            a {
                color: inherit;
                text-decoration: none;
            }

            &.active {
                color: $link-active-color;
            }
        }
    }

    .more-link {
        color: $pink-color;
        padding-top: 100%;

        span:after {
            content: "";
            display: block;
            position: absolute;
            top: 35%;
            right: -25%;
            width: 0;
            height: 0;
            border: 5px solid $pink-color;
            border-color: $pink-color white white white;
        }
    }
}